<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %>
  </head>
  <header>
   <% include ../partials/header %>
  </header>
  <body style="background-color: #ffffff;">
    <!-- Page Content -->
    <section class="py-5">
       <div class="container">
          <div class="row">
             <div class="col-sm-12 col-md-10 col-md-offset-1">
                <table class="table table-hover">
                   <thead>
                      <tr>
                         <th>Product</th>
                         <th class="text-center">Total</th>
                         <th> </th>
                      </tr>
                   </thead>
                   <tbody>
                     <% search.forEach(function(item) { %>
                      <tr>
                         <td class="col-sm-8 col-md-6">
                            <div class="media">
                              <%- item.img_holder %>
                               <div class="media-body">
                                  <h4 class="media-heading"><a href="#"><%= item.type %></a></h4>
                                  <h5 class="media-heading"> by <a href="#"><%= item.brand %></a></h5>
                                  <span>Colour: </span><span class="text-success"><strong><%= item.colour %></strong></span>
                               </div>
                            </div>
                         </td>
                         <td class="col-sm-1 col-md-1" style="text-align: center">
                            <h4 class="media-heading"><a href="#">Quantity: 1</a></h4>
                         </td>
                         <td class="col-sm-1 col-md-1 text-center"><strong>£<%= item.price %></strong></td>
                      </tr>
                      <tr>
                         <td>   </td>
                         <td>   </td>
                         <td>   </td>
                         <td>
                            <h5>Subtotal</h5>
                         </td>
                         <td class="text-right">
                            <h5><strong>£<%= item.price %></strong></h5>
                         </td>
                      </tr>
                      <tr>
                         <td>   </td>
                         <td>   </td>
                         <td>   </td>
                         <td>
                            <h5>Estimated shipping</h5>
                         </td>
                         <td class="text-right">
                            <h5><strong>FREE</strong></h5>
                         </td>
                      </tr>
                      <tr>
                         <td>   </td>
                         <td>   </td>
                         <td>   </td>
                         <td>
                            <h3>Total</h3>
                         </td>
                         <td class="text-right">
                            <h3><strong>£<%= item.price %></strong></h3>
                         </td>
                      </tr>
                      <tr>
                         <td>   </td>
                         <td>   </td>
                         <td>   </td>
                         <td>
                            <a href="/" class="btn btn-default">Continue Shopping</a>
                         </td>
                         <td>
                            <button type="button" class="btn btn-success">
                            Proceed to the Checkout
                            </button>
                         </td>
                      </tr>
                   </tbody>
                </table>
             </div>
          </div>
       </div>
    </section>
                                    <% });%>
    <!--spacers-->
    <p class="py-5">
    </p>
    <p class="py-5">
    </p>
    <p class="py-5">
    </p>

  </body>
        <% include ../partials/footer %>
</html>
