<!-- views/pages/about.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head %>
</head>
  <header>
    <% include ../partials/header %>
  </header>
<body class="container">

  <h2 style="text-align:center">Hello!</h2>

  <div class="card">
    <img src="/user_image.png" alt="John" style="width:100%">
    <h1>John Doe</h1>
    <p class="title">CEO & Founder, Example</p>
    <p>Harvard University</p>
    <div style="margin: 24px 0;">
      <a href="#"><i class="fa fa-dribbble"></i></a>
      <a href="#"><i class="fa fa-twitter"></i></a>
      <a href="#"><i class="fa fa-linkedin"></i></a>
      <a href="#"><i class="fa fa-facebook"></i></a>
   </div>
   <p><button>Contact</button></p>
  </div>




    <div class="row">
      <div class="col-sm-8">
        <div class="jumbotron">
          <!-- Page to display a single profile. The "user" object is passed through from express -->
          <!-- get the first name -->
          <h1>Hi <%= user.name.first %></h1>
          <!-- get the medium picture -->
          <img src="/user_image.png" class="img-circle" />
          <!-- get the username -->
          <h2>username: <%= user.login.username %></h2>
          <p>
            <!-- get the gender-->
            gender: <%= user.gender %>
          </p>
          <p>
            <!-- get the dob -->
            date of birth: <%= user.dob %>
          </p>
          <p>
            <!-- get the registration date-->
            date of registration: <%= user.registered %>
          </p>
        </div>
      </div>
      </div>
    </div>





    <div class="container">
            <div class="row">
                    <div class="col-md-12 text-center">
                        <h2>Bootstrap User Profile Template</h2>


                    Crafted by <a href="http://www.designbootstrap.com/" target="_blank">DesignBootstrap</a>
                        <br>
                        <br>

                    </div>
                </div>
             <!-- USER PROFILE ROW STARTS-->
                <div class="row">
                    <div class="col-md-3 col-sm-3">

                        <div class="user-wrapper">
                            <img src="assets/img/1.jpg" class="img-responsive">
                        <div class="description">
                           <h4> Ramolin Leomarid</h4>
                            <h5> <strong> Website Designer </strong></h5>
                            <p>
                                Pellentesque elementum dapibus convallis.
                            </p>
                            <hr>
                            <a href="#" class="btn btn-danger btn-sm"> <i class="fa fa-user-plus"></i> &nbsp;Profile + </a>
                        </div>
                         </div>
                    </div>

                    <div class="col-md-9 col-sm-9  user-wrapper">
                        <div class="description">
                             <h3> Ramolin's Biography : </h3>
                        <hr>
                         <p>
                              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                              Aliquam suscipit egestas eros, ut maximus magna blandit ut.
                             Suspendisse vel molestie sapien.
                              Interdum et malesuada fames ac ante ipsum primis in faucibus.
                             Fusce sit amet egestas dui, vitae tincidunt justo.
                             </p>
                        <p>
                             Etiam eleifend massa congue magna pretium, id blandit dui pulvinar.
                             Nam et pulvinar risus, vel blandit risus.
                              Maecenas tristique volutpat ante, aliquet hendrerit felis aliquet nec.
                              Curabitur rutrum tincidunt erat, ac feugiat libero gravida ac.
                             Suspendisse ut varius quam, vitae rutrum metus.
                            </p>
                        <h3> Social Links: </h3>
                        <hr>
                       <a href="#" class="btn btn-social btn-facebook">
                                <i class="fa fa-facebook"></i>&nbsp; Facebook </a>

                            <a href="#" class="btn btn-social btn-google">
                                <i class="fa fa-google-plus"></i>&nbsp; Google</a>
                            <a href="#" class="btn btn-social btn-twitter">
                                <i class="fa fa-twitter"></i>&nbsp; Twitter </a>
                            <a href="#" class="btn btn-social btn-linkedin">
                                <i class="fa fa-linkedin"></i>&nbsp; Linkedin </a>
                        </div>

                    </div>
                </div>
               <!-- USER PROFILE ROW END-->
        </div>





</body>


  <footer>
    <% include ../partials/footer %>
  </footer>

</html>
